<!-- templates/login.html-->

<html>
  <head>
    <title>Handling of http get and post request</title>
    <style>
      body {
        padding: 25px;
        background-color: black;
        color: grey;
        font-size: 25px;
      }
      div {
        width: 400px;
        border: 1px solid green;
        padding: 10px;
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <div>
      <!-- url_for will route the forms request to 
appropriate function that user made to handle it.-->
      <!--we will Retrieve submitted values of inputs 
on the backend side using 'name' field of form.-->
      <h1>Handle GET Request</h1>
      <form method="GET" action="{{ url_for('handle_get') }}">
        <input type="number" name="photos" placeholder="{{ context.photos }}" />
        <input type="number" name="delay" placeholder="{{ context.delay }}" />
        <button type="submit">submit</button>
      </form>
    </div>
  </body>
</html>
